$bp-largest: 75em; //1200
$bp-large: 60em;
$bp-medium: 50em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  max-width: 144rem;
  font-family: "Kumbh Sans";
  font-weight: 700;
  line-height: 1.6;
  overflow-x: hidden;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
}

.faq-accordion-card {
  @media only screen and (min-width: $bp-large) {
    background: url("../images/bg-pattern-desktop.svg"), white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -530px -265px;
  }

  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 92rem;
  height: 50rem;
  align-items: center;
  justify-content: center;
  margin: 16.2rem auto;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);

  @media only screen and (max-width: $bp-large) {
    width: 33rem;
    height: 54rem;
    flex-direction: column;
  }
}
h1 {
  font-size: 3.2rem;
  color: #1e1f36;
  text-transform: uppercase;
  margin-left: 7rem;
  @media only screen and (max-width: $bp-large) {
    margin-top: -50rem;
    margin-left: -2rem;
  }
}

.illustration-woman {
  width: 45rem;
  height: 33rem;
  margin-top: -5rem;
  margin-left: -15rem;
  @media only screen and (max-width: $bp-large) {
    width: 24rem;
    height: 14rem;
    margin: 0 auto 50rem auto;
  }
}

.faq-accordion-card .illustration-part img.box {
  position: absolute;
  top: 10rem;
  margin-left: -20rem;
}
.pattern-mobile {
  // display: none;
  // margin-top: 5rem;
  position: absolute;
  @media only screen and (min-width: $bp-large) {
    display: none;
  }
}
.box {
  margin-top: 25rem;
  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}
.first {
  margin-top: 4.5rem;
}

.question {
  color: #4b4c5f;
  // width: 35rem;
  font-size: 1.4rem;
  font-weight: 400;
  list-style-type: none;
  width: 35rem;
  margin-bottom: 3.7rem;
  border-bottom: solid #e8e8ea 0.1rem;
  padding-bottom: 2.5rem;
  height: 1.4rem;
  margin-left: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @media only screen and (max-width: $bp-large) {
    width: 28rem;
    margin-left: -2rem;
    font-size: 1.3rem;
  }
}
.question:hover {
  color: #f47b56;
}
.question:active {
  color: #1e1f36;
  font-weight: 700;
}
.icon-arrow-down {
  width: 1rem;
  height: 0.6rem;
  margin-left: 7.2rem;
  @media only screen and (max-width: $bp-large) {
    margin-left: 2rem;
  }
}
.answer {
  width: 31rem;
  font-size: 1.2rem;
  margin-top: -4rem;
  font-weight: 400;
  margin-left: 13rem;
  padding-bottom: 1rem;
  display: none;
}
.question-answer ul li {
  list-style: none;
}
